<% @card_title = 'Bem Vindo' %>

<% if current_user.admin? %>
<div class="row mt-5">
  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-start border-5 border-primary shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
              Receitas</div>
            <div class="h5 mb-0 font-weight-bold text-gray-800"><%=  number_to_currency(@total_receitas) %></div>
          </div>
          <div class="col-auto">
            <%= image_tag 'receitas.png', class: 'image_icon' %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Earnings (Monthly) Card Example -->
  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card  border-start border-5 border-warning shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
              Despesas</div>
            <div class="h5 mb-0 font-weight-bold text-gray-800"><%=  number_to_currency(@total_despesas) %></div>
          </div>
          <div class="col-auto">
            <%= image_tag 'despesas.png', class: 'image_icon' %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Earnings (Monthly) Card Example -->
  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card  border-start border-5 border-info shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Obras andamento
            </div>
            <div class="row no-gutters align-items-center">
              <div class="col-auto">
                <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800"><%=  @obras_andamento.count %></div>
              </div>
            </div>
          </div>
          <div class="col-auto">
            <%= image_tag 'obras_andamentos.png', class: 'image_icon' %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Pending Requests Card Example -->
  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-start border-5 border-success shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
              Obras Concluidas</div>
            <div class="h5 mb-0 font-weight-bold text-gray-800"><%=  @obras_concluidas %></div>
          </div>
          <div class="col-auto">
            <i class="fas fa-comments fa-2x text-gray-300"></i>
            <%= image_tag 'concluido.png', class: 'image_icon' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<hr>
<div class="row">
  <!-- Content Column -->
  <div class="col-lg mb-4">
    <!-- Project Card Example -->
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Obras em Andamentos</h6>
      </div>
      <div class="card-body">
        <%  @obras_andamento.order(:percetage).each do |f| %>
          <h4 class="small font-weight-bold"><%= f.description %> <span class="float-right"><%= "#{f.percetage}%" %></span></h4>
          <div class="progress mb-4">
            <div class="progress-bar bg-<%=color_progress(f.percetage)%>" role="progressbar" style="width: <%=f.percetage%>%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<% else %>
<h1>Seja bem Vindo</h1>
<% end %>