<% @card_title = 'Bem Vindo' %>
<% if current_user.admin? %>

<%= render 'home/shared/andamento' %>
<%= render 'home/shared/finalizado' %>
<div class="row">
  <!-- Content Column -->
  <div class="col-lg mb-4">
    <!-- Project Card Example -->
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Obras em Andamentos</h6>
      </div>
      <div class="card-body">
        <%  @obras_andamento.order(:percetage).each do |f| %>
          <h4 class="small font-weight-bold"><%= f.description %> <span class="float-right"><%= "#{f.percetage}%" %></span></h4>
          <div class="progress mb-4">
            <div class="progress-bar bg-<%=color_progress(f.percetage)%>" role="progressbar" style="width: <%=f.percetage%>%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<% else %>
   <%= image_tag('logo.jpg', class: 'img-fluid') %>
<% end %>
