<div class="p-5" data-controller="select2">
  <%= simple_form_for(@construction, 
  wrapper: :horizontal_form,
  wrapper_mappings: {
        radio_buttons: :horizontal_collection
      }
  ) do |f| %>
    <%= show_message(@construction) %>
    <%= f.input :description %>
    <%= f.input :dt_start, as: :string,  input_html: {type: 'date'} %>
    <%= f.input :dt_end, as: :string,  input_html: {type: 'date'} %>
    <%= f.input :valor %>
    <%= f.association :category, prompt: 'Escolha uma opção',  input_html: {class: 'form-select form-select-lg mb-3'} %>
    <%= f.association :engineer, prompt: 'Escolha uma opção' %>
    <%= f.input :final, as: :radio_buttons %>
    <%= f.input :percetage, input_html: { style: 'width: 100px'} %>
    <hr>
    <%= btn_save %>  <%  @btn_new = btn_cancel(constructions_path) %>
  <% end %>
</div>
