<strong>Obras Finalizadas</strong>
<hr>
<div class="row mt-2">
  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-start border-5 border-primary shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
              Receitas + Aditivos</div>
            <div class="h5 mb-0 font-weight-bold text-gray-800"><%=  number_to_currency(@total_receitas_finalizado) %></div>
          </div>
          <div class="col-auto">
            <%= image_tag 'receitas.png', class: 'image_icon' %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Earnings (Monthly) Card Example -->
  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card  border-start border-5 border-warning shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
              Despesas</div>
            <div class="h5 mb-0 font-weight-bold text-gray-800"><%=  number_to_currency(@total_despesas_finalizado) %> </div>
          </div>
          <div class="col-auto">
            <%= image_tag 'despesas.png', class: 'image_icon' %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Pending Requests Card Example -->
  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-start border-5 border-success shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-success text-uppercase mb-1"> Saldo / Lucro Médio</div>
            <div class="h5 mb-0 font-weight-bold text-gray-800"><%=  number_to_currency(@lucro_finalizado) %> <br> 
            <%=  @lmr %>%
          
            </div>
          </div>
          
          <div class="col-auto">
            <i class="fas fa-comments fa-2x text-gray-300"></i>
            <%= image_tag 'lucro.png', class: 'image_icon' %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Earnings (Monthly) Card Example -->
  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card  border-start border-5 border-info shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Obras Finalizadas
            </div>
            <div class="row no-gutters align-items-center">
              <div class="col-auto">
                <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800"><%=  @count_obras_finalizado %></div>
              </div>
            </div>
          </div>
          <div class="col-auto">
            <%= image_tag 'obras_andamentos.png', class: 'image_icon' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
