<div class="p-5" data-controller='select2'>
  <%= simple_form_for(@expense, configuration_form )do |f| %>
    <%= show_message(@expense) %>
    <div class="container text-center">
      <div class="row">
        <div class="col">
          <%= f.association :account , prompt: false%>
        </div>
        <div class="col">
          <%= f.input :valor %>
        </div>
        <div class="col">
          <%= f.input :data, as: :string,  input_html: {type: 'date'}%>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <%= f.association :construction, prompt: false %>
      </div>
      <div class="col">
        <%= f.association :category, prompt: false %>
      </div>
    </div>
    <hr>
    <%= f.file_field :recibo %>
    <hr>
    <%= btn_save %>  <%  @btn_new = btn_cancel(expenses_path) %>
  <% end %>
</div>
