<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Data</th>
      <th scope="col">Conta</th>
      <th scope="col">Valor</th>
      <th scope="col">Tipo</th>
      <th scope="col">Recibo</th>
    </tr>
  </thead>
  <tbody>
    <% @construction.expenses.includes(:construction, :account, :category).with_attached_recibo.each do |f| %>
      <% cache f do %>
        <tr>
          <td><%= l f.data %></td>
          <td><%= f.account_name %></td>
          <td><%= number_to_currency(f.valor) %></td>
          <td><%= f.account_tipe %></td>
          <td><%= f.recibo.present? ? (link_to 'Visualizar',  rails_blob_path( f.recibo), class: "btn btn-outline-primary btn-sm", target: "_blank") : '-' %>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
